<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Status</title>
    <link rel="stylesheet" href="/statusMhs.css" />
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.worker.min.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <div class="contcircle">
        <div class="circle">
          <img class="profilePNG" src="/Gambar/profile.png" alt="">
        </div>
      </div>
      <div class="keterangan">
        <a href="/dosen/profile">
          <div class="nama"><%= user.nama %></div>
          <div class="nim"><%= user.nim_nip %></div>
        </a>
      </div>
      <div class="isi">
        <a href="home"><h4>Dashboard</h4></a><br />
        <a href="pengajuan"><h4 >Pengajuan</h4></a><br />
        <a href="notifikasi"><h4>Notifikasi</h4></a><br />
        <a href="status"><h4 class="dashboard">Status</h4></a><br />
        <a href="history"><h4>History</h4></a><br />
        <form id="logoutForm" action="/logout" method="POST">
          <button
            type="submit"
            onclick="logout()"
            style="background: none; border: none; cursor: pointer"
          >
            <h4>Logout</h4>
          </button>
        </form>
        <div class="titik"></div>
      </div>
    </div>
    <div class="container">
      <div class="container2">
      <h1>Status Pengajuan</h1>
      
      <div class="container3">
        <% pengajuan.forEach((item, index) => { %>
          <div class="detail" id="detail-<%= index %>">
            <div class="konten">
              <div class="atas">
                <h3>Pengajuan pada <%= new Date(item.createdAt).toLocaleDateString('en-GB') %></h3>
                <div class="divstatus <% if (item.status === 'diterima') { %>diterima <% } else if (item.status === 'ditolak') { %>ditolak <% } else if (item.status === 'diproses') { %>diproses <% } %>">
                  <h3 class="statuspengajuan"><%= item.status.charAt(0).toUpperCase() + item.status.slice(1) %></h3>
                </div>
                <div class="panah" onclick="toggleDetail('<%= index %>')">▼</div>
              </div>
              <div class="alasan">
                <div class="file">
                  <a class="pfile"
                    href="/user_<%= item.nim_nip %>/<%= item.krs_ktm %>"
                    target="_blank"
                    ><%= item.krs_ktm %>
                  </a>
                </div>
                <p><%= item.alasan %></p>
              </div>
              <div class="status-list">
                <div class="status-row">
                  <% if (item.status === 'diterima') { %>
                    <a href="/pdfs/<%= item.file_transkrip %>" download>
                      <div class="download">
                        <img class="icon" src="/Gambar/download.png" alt="Download Icon">
                      </div>
                    </a>
                    <div class="divbutton">
                      <button class="preview" onclick="openPDFPreview('/pdfs/<%= item.file_transkrip %>')">Preview</button>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      
    </div>
    
    <script>

      function toggleDetail(index) {
          const detailElement = document.getElementById(`detail-${index}`);
          detailElement.classList.toggle('expanded');
        }

      function openPDFPreview(pdfPath) {
        window.open(`/preview?pdf=${encodeURIComponent(pdfPath)}`, '_blank');
      }

      function closeModal() {
        document.getElementById("pdfModal").style.display = "none";
      }

      function logout() {
        fetch("/logout", {
          method: "DELETE",
        })
          .then((response) => {
            if (response.ok) {
              window.location.href = "/login";
            } else {
              throw new Error("Failed to logout");
            }
          })
          .catch((error) => {
            console.error("Logout failed:", error);
          });
      }
      
    </script>
    <style></style>
  </body>
</html>
